body {
    background-color: black;
}

* {
    padding: 0px;
}

.container {
    width: 100%;
    display: flex;
    border: 1px 1px 1px yellow;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
}

logo {
    position: relative;
    color: white;
    font-size: xx-large;
    right: 0px;
    height: 10vh;
    margin-top: 10px;
    padding-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2em;
    width: 60;
    justify-content: center;
    justify-content: space-evenly;
}

ul {
    list-style: none;
    margin: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    margin: .5em;
}

li:hover {
    color: grey;
}

#Play-Now {
    background-color: aqua;
    border-radius: 30%;
    width: 10vh;
    height: 5vh;
}

#Sign-In {
    background-color: darkgray;
    color: white;
    border-radius: 20%;
    width: 10vh;
    height: 5vh;
    
}

button {
    margin: 1em;
}

#Play-Now:hover {
    background-color: lightcyan;
}

#Sign-In:hover {
    background-color: grey;
}

section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}

#right-side {
    display: flex;
    justify-content: flex-end;
    width: 22%;
    margin-top: 10px;
}

#image-div {
    width: 100%;
    height: 70vh;
}

img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#white-space {
    background-color: white;
    color: white;
    height: 30vh;
}

#hover-image {
    position: relative;
    bottom: 600px;
    left: 150px;
    z-index: 1;
    width: 75%;
    border: 5px double grey;
}

#league-logo {
    position: relative;
    bottom: 950px;
    left: 375px;
    z-index: 2;
    width: 40%;
}

#try-button {
    background-color: aqua;
    border-radius: 30%;
    width: 12vh;
    height: 8vh;
    z-index: 3; 
}

#try-button:hover {
    background-color: grey;
}