body {
    background-color: black;
}

* {
    border: 1px solid red;
    padding: 0px;
}

.container {
    width: 100%;
    display: flex;
    border: 1px 1px 1px red;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

logo {
    position: relative;
    color: white;
    font-size: xx-large;
    right: 0px;
    height: 10vh;

}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2em;
    width: 70%;
}

ul {
    list-style: none;
    margin: 1em;
    width: 300%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    margin: .5em;
}

#Play-Now {
    background-color: aqua;
    border-radius: 30%;
    width: 10vh;
    height: 5vh;
}

#Sign-In {
    background-color: darkgray;
    color: white;
    border-radius: 20%;
    width: 10vh;
    height: 5vh;
}

#Play-Now:hover {
    background-color: lightcyan;
}

#Sign-In:hover {
    background-color: grey;
}

section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}

#image-div {
    border: 1px solid blue;
    width: 100%;
}